.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(255, 255, 255, .1);
    background-color: #1a1d24 !important;
}

.sidebar .nav-link {
    font-weight: 500;
    color: rgba(255, 255, 255, .75);
    padding: .5rem 1rem;
    border-radius: 4px;
    margin: 0 0.5rem;
}

.sidebar .nav-link:hover {
    color: rgba(255, 255, 255, .9);
    background: rgba(255, 255, 255, .1);
}

.sidebar .nav-link.active {
    color: #ffffff;
    background: rgba(255, 255, 255, .1);
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .6);
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.badge {
    padding: 0.5em 1em;
}